/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-height: 9999999999px;
}
*:focus {
  outline: none;
}
*:active {
  outline: none;
}
a,
button {
  cursor: pointer;
}
.container {
  width: 75em;
  margin: 0 auto;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}
.row {
  margin-left: -0.9375em;
  margin-right: -0.9375em;
}
.row:before,
.row:after,
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after,
.row:after {
  clear: both;
}
.col {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  float: left;
}
@media screen and (max-width: 5000px) {
  .col.xs-12 {
    width: 100%;
  }
  .col.xs-11 {
    width: 91.66666666666667%;
  }
  .col.xs-10 {
    width: 83.33333333333333%;
  }
  .col.xs-9 {
    width: 75%;
  }
  .col.xs-8 {
    width: 66.66666666666667%;
  }
  .col.xs-7 {
    width: 58.333333333333336%;
  }
  .col.xs-6 {
    width: 50%;
  }
  .col.xs-5 {
    width: 41.666666666666664%;
  }
  .col.xs-4 {
    width: 33.333333333333336%;
  }
  .col.xs-3 {
    width: 25%;
  }
  .col.xs-2 {
    width: 16.666666666666668%;
  }
  .col.xs-1 {
    width: 8.333333333333334%;
  }
  .pull-xs-left {
    float: left;
  }
  .pull-xs-right {
    float: right;
  }
  .text-xs-left {
    text-align: left;
  }
  .text-xs-right {
    text-align: left;
  }
  .text-xs-center {
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .col.lg-12 {
    width: 100%;
  }
  .col.lg-11 {
    width: 91.66666666666667%;
  }
  .col.lg-10 {
    width: 83.33333333333333%;
  }
  .col.lg-9 {
    width: 75%;
  }
  .col.lg-8 {
    width: 66.66666666666667%;
  }
  .col.lg-7 {
    width: 58.333333333333336%;
  }
  .col.lg-6 {
    width: 50%;
  }
  .col.lg-5 {
    width: 41.666666666666664%;
  }
  .col.lg-4 {
    width: 33.333333333333336%;
  }
  .col.lg-3 {
    width: 25%;
  }
  .col.lg-2 {
    width: 16.666666666666668%;
  }
  .col.lg-1 {
    width: 8.333333333333334%;
  }
  .pull-lg-left {
    float: left;
  }
  .pull-lg-right {
    float: right;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: left;
  }
  .text-lg-center {
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .col.md-12 {
    width: 100%;
  }
  .col.md-11 {
    width: 91.66666666666667%;
  }
  .col.md-10 {
    width: 83.33333333333333%;
  }
  .col.md-9 {
    width: 75%;
  }
  .col.md-8 {
    width: 66.66666666666667%;
  }
  .col.md-7 {
    width: 58.333333333333336%;
  }
  .col.md-6 {
    width: 50%;
  }
  .col.md-5 {
    width: 41.666666666666664%;
  }
  .col.md-4 {
    width: 33.333333333333336%;
  }
  .col.md-3 {
    width: 25%;
  }
  .col.md-2 {
    width: 16.666666666666668%;
  }
  .col.md-1 {
    width: 8.333333333333334%;
  }
  .pull-md-left {
    float: left;
  }
  .pull-md-right {
    float: right;
  }
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: left;
  }
  .text-md-center {
    text-align: center;
  }
}
@media screen and (max-width: 769px) {
  .col.sm-12 {
    width: 100%;
  }
  .col.sm-11 {
    width: 91.66666666666667%;
  }
  .col.sm-10 {
    width: 83.33333333333333%;
  }
  .col.sm-9 {
    width: 75%;
  }
  .col.sm-8 {
    width: 66.66666666666667%;
  }
  .col.sm-7 {
    width: 58.333333333333336%;
  }
  .col.sm-6 {
    width: 50%;
  }
  .col.sm-5 {
    width: 41.666666666666664%;
  }
  .col.sm-4 {
    width: 33.333333333333336%;
  }
  .col.sm-3 {
    width: 25%;
  }
  .col.sm-2 {
    width: 16.666666666666668%;
  }
  .col.sm-1 {
    width: 8.333333333333334%;
  }
  .pull-sm-left {
    float: left;
  }
  .pull-sm-right {
    float: right;
  }
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: left;
  }
  .text-sm-center {
    text-align: center;
  }
}
.fluid-image {
  display: block;
  min-width: 100%;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoBold.ttf") format("truetype");
  font-style: bold;
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
html {
  font-family: Roboto;
}
main {
  padding-bottom: 30px;
}
body {
  overflow-y: scroll;
}
h1 {
  font-size: 30px;
  color: #333;
  font-weight: 600;
  margin: 0;
}
h1 a {
  font-size: 30px;
  color: #333;
  font-weight: 600;
  margin: 0;
}
.modal_bg {
  background: rgba(0,0,0,0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.modal {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  color: #323232;
  border-radius: 2px;
  background-color: #fff;
  width: 540px;
  padding: 26px 30px 32px 34px;
}
.modal h4 {
  margin: 0;
  padding: 0;
  color: #1565c0;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 34px;
}
form.settings_pas {
  position: relative;
}
form.settings_pas label {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 6px;
  width: 170px;
}
form.settings_pas input {
  margin-bottom: 20px;
  border-width: 1px;
  border-color: #dce0e4;
  border-style: solid;
  width: 348px;
  height: 36px;
  text-indent: 15px;
  display: inline-block;
}
form.settings_pas .error,
form.settings_pas .error2 {
  font-style: italic;
  font-size: 12px;
  color: #f00;
  width: 170px;
  text-align: right;
  visibility: hidden;
  opacity: 0;
}
form.settings_pas .error2.active {
  visibility: visible;
  opacity: 1;
}
.save {
  background-color: #1565c0;
  width: 111px;
  height: 35px;
  color: #fff;
  border: 0;
  margin-right: 20px;
}
.save:hover {
  background-color: rgba(21,101,192,0.6);
}
.save:active {
  background-color: #1565c0;
}
.cancel {
  background-color: #b7b7b7;
  width: 111px;
  height: 35px;
  color: #fff;
  border: 0;
}
.cancel:hover {
  background-color: rgba(183,183,183,0.7);
}
.cancel:active {
  background-color: #b7b7b7;
}
.thumbs {
  position: absolute;
  right: 70px;
  top: 0;
  bottom: 35px;
  margin: auto;
  width: 25px;
  height: 24px;
  background: url("../img/thumbs.png");
}
.close {
  display: block;
  position: absolute;
  right: 30px;
  top: 26px;
  width: 14px;
  height: 14px;
  background: url("../img/ic_close.png");
  cursor: pointer;
}
.modal_bg.active,
.error.active {
  visibility: visible;
  opacity: 1;
}
.header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
}
.header p {
  font-size: 14px;
  margin: 0;
}
.heder_personal_area {
  position: relative;
  padding: 10px 0;
}
.heder_personal_area:before {
  content: '';
  position: absolute;
  border-width: 1px;
  border-color: #d7d7d7;
  border-style: solid;
  right: 0;
  height: 58px;
  border-right: 1px;
}
.notification_block {
  position: relative;
  width: 100%;
  height: 80px;
}
.notification {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../img/notifications.png");
  width: 18px;
  height: 18px;
}
.notification a {
  display: block;
  width: 100%;
  height: 100%;
}
.online {
  border-radius: 50%;
  background-color: #d00;
  position: absolute;
  left: -5px;
  top: -5px;
  width: 6px;
  height: 6px;
}
.account_block {
  display: block;
  width: 100%;
  height: 80px;
}
.account {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 80px;
  position: relative;
  right: 20px;
}
.account >a {
  text-decoration: none;
  color: #333;
  display: block;
  height: 100%;
}
.account >a:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url("../img/icon_Account.png");
  width: 12px;
  height: 7px;
}
.account_settings {
  display: block;
  width: 284px;
  height: 146px;
  background: #fff;
  position: absolute;
  right: 0px;
  top: 60px;
  box-shadow: 0px 4px 18.8px 1.2px rgba(0,0,0,0.24);
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.account_settings ul {
  padding: 0;
}
.account_settings li {
  height: 48.666666666666664px;
  top: 0;
  text-align: left;
  list-style: none;
}
.account_settings li a {
  display: block;
  height: 100%;
  color: #000;
  font-size: 15px;
  padding: 0 20px;
  line-height: 48px;
  border-top: 1px solid #d7d7d7;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.account_settings li a:hover {
  background: rgba(21,101,192,0.8);
  color: #fff;
}
.account_settings li a:hover:active {
  background-color: #1565c0;
}
.account_settings li a img {
  margin: -5px;
  padding-right: 30px;
}
.account:hover .account_settings {
  visibility: visible;
  opacity: 1;
}
ul {
  margin: 0;
}
.nav_bar {
  width: 100%;
  height: 105px;
}
.nav {
  width: 100%;
  height: 50px;
  margin: 27.5px 0;
  list-style: none;
  display: table;
  padding: 0;
  background-color: #edf3f3;
}
.nav li {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  width: 233px;
}
.nav li a {
  margin-right: 3px;
  display: block;
  height: 100%;
  text-decoration: none;
  background-color: #edf3f3;
  color: #323232;
  font-weight: 200;
  font-family: "Roboto";
  font-size: 18px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.nav li a:hover {
  box-shadow: 0.5px 2px 4.7px 1.3px rgba(0,0,0,0.24);
}
li a.active {
  background-color: #1565c0;
  box-shadow: 0 3px 4.7px 0.3px rgba(0,0,0,0.24);
  color: #fff;
}
.line {
  border-top: 1px solid #d7d7d7;
}
h2 {
  color: #333;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 28px;
}
.header_list {
  height: 50px;
  width: 100%;
  background-color: #edf3f3;
  line-height: 50px;
  color: #1565c0;
  font-size: 18px;
}
.left_text {
  text-align: left;
}
.center_text {
  text-align: center;
}
.right_text {
  text-align: right;
}
.list {
  height: 181px;
  width: 100%;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  border-top: 0px;
  overflow-y: scroll;
}
.list_item {
  height: 61px;
  line-height: 61px;
  border-bottom: 1px solid #ddd;
}
.list_item:hover {
  background-color: rgba(104,159,56,0.149);
}
button {
  height: 35px;
  line-height: 33px;
  color: #fff;
  text-align: center;
  display: inline-block;
  border: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.disabled {
  background-color: #b7b7b7;
  cursor: auto;
}
.disabled:hover {
  background-color: #b7b7b7;
}
a {
  text-decoration: none;
}
.available_version_name button {
  margin-left: 25px;
  width: 111px;
  background-color: #689f38;
  box-shadow: 0px 3px 4.7px 0.3px rgba(0,0,0,0.24);
}
.available_version_name button:hover {
  background-color: rgba(104,159,56,0.75);
}
.available_version_name button:active {
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  background-color: #5c8e31;
}
.layout-patter-2 {
  padding-top: 25px;
}
.layout-patter-2 .list {
  margin-bottom: 15px;
  height: 313px;
  width: 100%;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  border-top: 0px;
}
.layout-patter-2 .list_item {
  height: 78px;
  line-height: 78px;
  border-bottom: 1px solid #ddd;
}
.layout-patter-2 .list_item:hover {
  background-color: rgba(104,159,56,0.149);
}
.layout-patter-2 .list_item label {
  float: left;
  margin-right: 10px;
}
.layout-patter-2 .list_item input {
  float: left;
  margin-top: 33px;
  margin-right: 18px;
}
.layout-patter-2 .list_item img {
  max-width: 100%;
}
.layout-patter-2 .list_item .miniatures__img {
  width: 70px;
  height: 50px;
  float: left;
  margin-right: 10px;
  margin-top: 15px;
}
.layout-patter-2 .list_tele_mentor {
  position: relative;
}
.layout-patter-2 .list_tele_mentor >button {
  border-style: solid;
  border-width: 1px;
  background-color: #689f38;
  width: 197px;
  height: 37px;
  float: right;
  margin-right: 33px;
  margin-bottom: 30px;
  color: #fff;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.layout-patter-2 .list_tele_mentor >button:hover {
  background-color: rgba(104,159,56,0.75);
}
.layout-patter-2 .list_tele_mentor >button:active {
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  background-color: #5c8e31;
}
input[type="checkbox"]+span {
  -webkit-appearance: none;
  border: 1px solid #c2c2c2;
  outline: none;
  margin-right: 5px;
  margin-bottom: -3px;
  margin-left: -3px;
  box-sizing: border-box;
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
input[type="checkbox"]:checked+span:before {
  content: "";
  display: block;
  background-color: #689f38;
  width: 10px;
  height: 10px;
  margin: 3px auto;
  pointer-events: none;
}
h2 span {
  font-size: 36px;
  font-weight: 600;
}
.poisk {
  position: relative;
}
.poisk input {
  border-width: 1px;
  border-color: #d7d7d7;
  border-style: solid;
  width: 100%;
  height: 34px;
  margin-top: 18px;
  text-indent: 10px;
  position: relative;
  line-height: 35px;
}
.poisk input:focus {
  border-color: #1565c0;
}
.poisk button {
  position: absolute;
  right: 10px;
  top: 25px;
  width: 19px;
  height: 20px;
  background: url("../img/img_poisk.png");
  border: 0;
  padding: 0;
}
h3 >span {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 600;
  display: block;
  margin-top: 45px;
}
/* стили блока аккордеон */
.accordion {
  width: 83%;
}
.accordion ul {
  list-style: none;
  padding: 0;
}
/* секции аккордеона */
.accordion .accordion_item {
  position: relative;
}
/* заголовки панелей аккордеона */
.accordion .title_block {
  font-weight: 600;
  font-size: 24px;
  color: #323232;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.accordion .title_block:hover {
  color: #1565c0;
}
/* заголовок активного блока  */
.accordion .active_block .title_block {
  color: #1565c0;
}
/* блоки с содержанием */
.accordion .info {
  display: none;
  padding: 10px 15px;
  overflow: hidden;
}
.accordion ul li {
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0 10px 15px;
}
.accordion ul li .otvet {
  background: #f7f7f7;
  font-size: 18px;
  padding: 0px 19px 1px 15px;
}
.accordion ul li .otvet .yes {
  margin: 0;
  border: 0;
  color: #4dc015;
  font-size: 18px;
  background: #f7f7f7;
}
.accordion ul li .otvet .no {
  margin: 0;
  border: 0;
  color: #d72d2d;
  font-size: 18px;
  background: #f7f7f7;
}
.accordion ul li .otvet p {
  padding-top: 13px;
}
.accordion ul li i {
  background: url("../img/list_style_img.png") no-repeat left center;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: -20px;
  margin-right: 10px;
}
/* параграф внутри блоков с содержанием */
.accordion .info_item {
  margin-bottom: 10px;
}
.filter .h3_filter {
  color: #323232;
  font-size: 18px;
  font-weight: 400;
  margin-top: 50px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
}
.filter .btn_filter {
  background-color: #edf3f3;
  width: 150px;
  height: 33px;
  color: #323232;
  border: 0;
  font-size: 18px;
  margin-right: -5px;
  position: relative;
  font-family: Roboto;
  font-weight: 300;
}
.filter .btn_filter i {
  border-radius: 50%;
  position: absolute;
  width: 11px;
  height: 11px;
}
.btn_filter.active {
  background-color: #1565c0;
  color: #fff;
}
.obrashenie_block {
  margin-top: 30px;
}
.obrashenie_block .header_list {
  height: 51px;
  width: 100%;
  background-color: #edf3f3;
  line-height: 50px;
  color: #1565c0;
  font-size: 18px;
}
.obrashenie_block .header_list .data {
  position: relative;
  display: block;
  cursor: pointer;
}
.obrashenie_block .header_list .data:before {
  content: '';
  position: absolute;
  left: 50px;
  top: 4px;
  bottom: 0;
  margin: auto;
  background: url("../img/icon_Account.png");
  width: 12px;
  height: 7px;
}
.obrashenie_block .header_list .add_obrashenie {
  border: 0;
  background: transparent;
  color: #1565c0;
  font-weight: 600;
  float: right;
  line-height: 50px;
  padding-bottom: 0;
  padding-right: 20px;
  box-shadow: 0 0 0 0;
  width: 300px;
  height: 50px;
}
.obrashenie_block .header_list .add_obrashenie:hover {
  text-decoration: underline;
}
.calendar {
  width: 310px;
  height: 300px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  z-index: 100;
  margin-top: 60px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.calendar.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.pignose-calendar {
  width: 100%;
  border: 0;
  max-width: 310px;
  height: 320px;
}
.pignose-calendar .pignose-calendar-top {
  height: 60px;
  padding: 0;
}
.pignose-calendar .pignose-calendar-header {
  margin-top: 0;
  height: 40px;
  color: #555;
  background: #fcfcfc;
  border-bottom: 1px solid #ebeced;
  font-size: 13px;
  font-weight: 400;
}
.pignose-calendar .icon-arrow-right,
.pignose-calendar:before {
  content: ' ';
  top: 18px;
  position: absolute;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left-color: #fff;
  border-right: 10px;
}
.pignose-calendar .icon-arrow-left,
.pignose-calendar:before {
  content: ' ';
  top: 18px;
  position: absolute;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-color: #fff;
  border-left: 0;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
  color: #555;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun {
  color: #555;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
  color: #fff;
  font-size: 18px;
  background: #1565c0;
  padding: 5px 0;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
  display: inline-block;
}
.pignose-calendar .pignose-calendar-body .pignose-calendar-row {
  height: 36px;
  overflow: visible;
}
.pignose-calendar .pignose-calendar-unit {
  line-height: 0;
  position: relative;
  height: 34px;
}
.pignose-calendar .pignose-calendar-unit a {
  width: 30px;
  height: 30px;
  border-radius: 0;
  color: #2c567a;
  line-height: 1.9em;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a {
  background-color: #1565c0;
  width: 40px;
  line-height: 30px;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first a:before {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 15px 0 15px 7px;
  border-color: transparent transparent transparent #1565c0;
  position: absolute;
  z-index: 1;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last a:before {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 15px 7px 16px 0;
  border-color: transparent #1565c0 transparent transparent;
  position: absolute;
  z-index: 1;
  left: 33px;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range a {
  background: #b8d0ec;
}
.pignose-calendar .pignose-calendar-body {
  padding: 0 16px;
}
#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  border-collapse: collapse;
  height: 100%;
  padding: 10px 15px;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: #555;
  height: 40px;
  background: #fcfcfc;
  border-bottom: 1px solid #ebeced;
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: #fff;
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: #2c567a;
}
#calendar2 tbody td:nth-child(n+6),
#calendar2 .holiday {
  color: #e78c5c;
}
#calendar2 tbody td.today {
  color: #1565c0;
}
#calendar2 tbody td.selected {
  background: rgba(21,101,192,0.41);
  color: #fff;
}
#calendar2 tbody tr.selected td {
  background: rgba(21,101,192,0.41);
  color: #fff;
}
#calendar2 tbody td.date-1 {
  background: #1565c0;
  color: #fff;
}
#calendar2 tbody td.date-2 {
  background: #1565c0;
  color: #fff;
}
.obrashenie {
  position: relative;
}
.obrashenie .new_obrashenie {
  height: 375px;
  width: 730px;
  position: absolute;
  background: #fff;
  border-width: 1px;
  border-color: #e1e1e1;
  border-style: solid;
  box-shadow: 0 8px 26px 10px rgba(0,0,0,0.16);
  top: 60px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.obrashenie .new_obrashenie .new_obrashenie_header {
  width: 100%;
  height: 54px;
  background-color: #edf3f3;
  color: #323232;
  font-weight: 200;
  font-size: 16px;
}
.obrashenie .telemebtor {
  height: 54px;
  width: 289px;
  margin-left: -15px;
  border-right: 1px solid #e1e1e1;
  padding-left: 20px;
  padding-top: 2px;
}
.obrashenie .heder_chat {
  height: 54px;
  width: 450px;
  margin-left: -30px;
  padding-left: 20px;
  padding-top: 2px;
}
.obrashenie .new_obrashenie_footer {
  position: absolute;
  bottom: 0;
  background-color: #edf3f3;
  width: 100%;
  height: 54px;
}
.obrashenie .new_obrashenie_footer form {
  height: 55px;
  padding: 15px 0;
  position: relative;
}
.obrashenie .new_obrashenie_footer form .new_obrashenie_text {
  height: 20px;
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: 0 50px;
  overflow: hidden;
  background: #edf3f3;
  display: block;
}
.skrepka {
  background: url("../img/skrepka.png");
  width: 10px;
  height: 19px;
  left: 20px;
  top: 16px;
  position: absolute;
  border: 0;
  padding: 0;
  z-index: 1;
}
.air {
  background: url("../img/air.png");
  width: 30px;
  height: 21px;
  right: 17px;
  bottom: 20px;
  position: absolute;
  border: 0;
  padding: 0;
  z-index: 1;
}
.air:hover {
  background: url("../img/air_hover.png");
}
.new_obrashenie.active {
  visibility: visible;
  opacity: 1;
}
textarea {
  resize: none;
}
.new_obrashenie_content {
  width: 729px;
  height: 265px;
}
.new_obrashenie_content .new_obrashenie_content_left {
  width: 289px;
  height: 265px;
  border-right: 1px solid #e1e1e1;
  float: left;
  padding: 0 20px;
  color: #333;
}
.new_obrashenie_content .new_obrashenie_content_left .new_obrashenie_item {
  margin-top: 10px;
}
.new_obrashenie_content .new_obrashenie_content_left .new_obrashenie_item .telemebtor_name {
  display: inline-block;
}
.new_obrashenie_content .new_obrashenie_content_right {
  width: 440px;
  height: 265px;
  float: right;
  padding: 20px 25px;
  overflow-y: auto;
}
.new_obrashenie_content .new_obrashenie_content_right p {
  font-size: 16px;
  margin: 0;
  color: #333;
  line-height: 1.3;
}
.obrashenie_block .list {
  height: 510px;
}
.accordion_item .obrashenie_footer form {
  margin-top: 25px;
  position: relative;
  border-top: 1px solid #e1e1e1;
}
.accordion_item .obrashenie_footer form .new_obrashenie_text {
  height: 70px;
  width: 100%;
  border: 0;
  font-size: 16px;
  overflow: hidden;
  display: block;
  padding: 26px 50px;
}
.accordion_item .obrashenie_footer form .skrepka {
  top: 26px;
}
.accordion_item .obrashenie_footer form .air {
  bottom: 24px;
}
.reviews_inner-grid:not(:first-child) {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
.reviews_inner-grid:not(:last-child) {
  height: 100%;
  width: 17%;
}
.reviews_inner-grid:last-child {
  min-height: 55px;
  display: block;
  width: 100%;
}
.reviews_item {
  border-bottom: 1px solid #e1e1e1;
  display: table;
  width: 100%;
}
.reviews_inner-grid {
  display: table-cell;
  font-size: 18px;
  padding: 17px;
}
.reviews_inner-grid .title_block {
  font-size: 18px;
  margin: 0;
}
.reviews_item .accordion {
  overflow: hidden;
  width: 100%;
}
.reviews_item .accordion .accordion_item {
  display: table;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
.reviews_item .accordion .accordion_item .title_block {
  font-size: 18px;
  margin: 0;
  padding: 0 15px;
}
.reviews_item .accordion .accordion_item .info {
  padding: 0;
}
.reviews_item .accordion .accordion_item .info .admin {
  display: block;
  height: 100%;
  width: 100%;
  color: #323232;
  padding: 5px 10px;
  min-height: 40px;
}
.reviews_item .accordion .accordion_item .info .admin .admin_ava {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-left: 11px;
  position: relative;
  top: 7px;
}
.reviews_item .accordion .accordion_item .info .admin .admin_ava img {
  max-width: 100%;
}
.reviews_item .accordion .accordion_item .info .admin .admin_text {
  width: 650px;
  float: right;
  background-color: #edf3f3;
  padding: 10px;
  position: relative;
}
.reviews_item .accordion .accordion_item .info .admin .admin_text:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  bottom: 0;
  border-bottom: 10px solid #edf3f3;
  border-left: 10px solid transparent;
}
.reviews_item .accordion .accordion_item .info .admin .admin_name {
  color: #1565c0;
}
.reviews_item .accordion .accordion_item .info .admin p {
  margin: 0;
}
.reviews_item .accordion .accordion_item .info .user {
  display: block;
  height: 100%;
  width: 100%;
  color: #323232;
  padding: 11px;
  min-height: 40px;
  margin-top: 5px;
}
.reviews_item .accordion .accordion_item .info .user_ava {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-left: 11px;
  position: relative;
  top: 7px;
}
.reviews_item .accordion .accordion_item .info .user_ava img {
  max-width: 100%;
}
.reviews_item .accordion .accordion_item .info .user_text {
  width: 650px;
  float: right;
  padding: 10px;
}
.reviews_inner-grid i {
  border-radius: 50%;
  width: 11px;
  height: 11px;
}
