@import "/stylus.styl"
@font-face
  font-family: "Roboto"
  src:url("../fonts/RobotoMedium.ttf") format("truetype")
  font-style: normal
  font-weight: 500

@font-face
  font-family: "Roboto"
  src:url("../fonts/RobotoBold.ttf") format("truetype")
  font-style: bold
  font-weight: 600

@font-face
  font-family: "Roboto"
  src:url("../fonts/RobotoRegular.ttf") format("truetype")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Roboto"
  src:url("../fonts/RobotoLight.ttf") format("truetype")
  font-style: normal
  font-weight: 200


html
  font-family Roboto
  // overflow scroll
main
    padding-bottom 30px
body
    overflow-y scroll
h1
  font-size 30px
  color #333333
  font-weight 600
  margin 0
  a
      font-size 30px
      color #333333
      font-weight 600
      margin 0


//Модалка

.modal_bg
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  animate(300, ease-in-out)
  visibility: hidden;
  opacity: 0;

.modal
  position: fixed;
  top: 100px;
  left: 0;
  right 0
  margin auto
  color: #323232;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  width: 540px;
  // height: 390px;
  padding 26px 30px 32px 34px
  h4
    margin 0
    padding 0
    color #1565c0
    font-size 20px
    font-weight 500
    margin-bottom 34px

form.settings_pas
  position relative
  label
    display inline-block
    font-size 14px
    margin-bottom 6px
    width 170px
  input
    margin-bottom 20px
    border-width: 1px;
    border-color: rgb(220, 224, 228);
    border-style: solid;
    width: 348px;
    height: 36px;
    text-indent 15px
    display inline-block
  .error,
  .error2
    font-style: italic;
    font-size: 12px;
    color: red;
    width: 170px;
    text-align: right;
    visibility hidden
    opacity 0

  .error2.active
    visibility visible
    opacity 1

.save
    background-color: rgb(21, 101, 192);
    width: 111px;
    height: 35px;
    color #fff
    border 0
    margin-right 20px
    &:hover
        background-color: rgba(21, 101, 192, 0.6)
    &:active
        background-color: rgb(21, 101, 192);



  .cancel
    background-color: rgb(183, 183, 183);
    width: 111px;
    height: 35px;
    color #fff
    border 0
    &:hover
        background-color: rgba(183, 183, 183, 0.7)
    &:active
        background-color: rgb(183, 183, 183);




  .thumbs
    position absolute
    right: 70px;
    top: 0;
    bottom: 35px;
    margin auto
    width 25px
    height 24px
    background url(../img/thumbs.png)

.close
  display: block;
  position: absolute;
  right: 30px;
  top: 26px;
  width: 14px;
  height: 14px;
  background url(../img/ic_close.png)
  cursor pointer

.modal_bg.active,
.error.active
  visibility visible
  opacity 1



// Шапка
.header
  height 80px
  width 100%
  border-bottom 1px solid rgb(215, 215, 215)
  p
    font-size 14px
    margin 0

.heder_personal_area
  position relative
  padding 10px 0
  &:before
    content ''
    position absolute
    border-width: 1px;
    border-color: #d7d7d7;
    border-style: solid;
    right: 0;
    height: 58px;
    border-right 1px

.notification_block
  position relative
  width 100%
  height 80px
.notification
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  background url(../img/notifications.png)
  width 18px
  height 18px
  a
    display block
    width 100%
    height 100%
.online
  border-radius: 50%;
  background-color: rgb(221, 0, 0);
  position: absolute;
  left: -5px;
  top: -5px;
  width: 6px;
  height: 6px;


// Профиль
.account_block
  display block
  width 100%
  height 80px

.account
  text-align center
  font-size 18px
  font-weight 400
  line-height 80px
  position relative
  right 20px
  >a
    text-decoration none
    color #333333
    display block
    height 100%
    &:before
      content ''
      position absolute
      right 0
      top 0
      bottom 0
      margin auto
      background url(../img/icon_Account.png)
      width 12px
      height 7px



.account_settings
  display: block;
  width: 284px;
  height: 146px;
  background: #fff
  position: absolute;
  right: 0px;
  top: 60px;
  box-shadow: 0px 4px 18.8px 1.2px rgba(0, 0, 0, 0.24);
  visibility: hidden;
  opacity: 0;
  animate(300, ease-in-out)
  ul
    padding 0
  li
    height: 48.666666666666664px;
    top: 0;
    text-align: left;
    list-style none
    a
      display block
      height 100%
      color #000
      font-size 15px
      padding: 0 20px;
      line-height: 48px;
      border-top 1px solid rgb(215, 215, 215)
      animate(300, ease-in-out)
      &:hover
        background rgba(21, 101, 192, 0.8)
        color #fff
        &:active
            background-color #1565c0
      img
        margin: -5px;
        padding-right: 30px;

.account:hover .account_settings
  visibility: visible;
  opacity: 1;


  //nav_bar
ul
  margin 0

.nav_bar
  width 100%
  height 105px

.nav
  width: 100%;
  height 50px
  margin: 27.5px 0
  list-style none
  display table
  padding 0
  background-color: #edf3f3;
  li
    display inline-block
    text-align: center;
    line-height: 50px;
    width 233px
    a
      margin-right 3px
      display: block;
      height: 100%;
      text-decoration: none;
      background-color: #edf3f3;
      color #323232
      font-weight 200
      font-family "Roboto"
      font-size 18px
      animate(300, ease-in-out)
      &:hover
        box-shadow: 0.5px 2px 4.7px 1.3px rgba(0,0,0,.24);
li
  a.active
    background-color: #1565c0;
    box-shadow: 0 3px 4.7px 0.3px rgba(0,0,0,.24);
    color: #fff;


//layout-patter-1
.line
  border-top 1px solid rgb(215, 215, 215)

h2
  color #333333
  font-size 24px
  font-weight 500
  margin: 0;
  padding-top: 40px;
  padding-bottom 28px

.header_list
  height 50px
  width 100%
  background-color: rgb(237, 243, 243)
  line-height: 50px
  color #1565c0
  font-size 18px

.left_text
  text-align left
.center_text
  text-align center
.right_text
  text-align right

.list
  height 181px
  width 100%
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  border-style: solid;
  border-top 0px
  overflow-y scroll

.list_item
  height 61px
  line-height: 61px;
  border-bottom 1px solid rgb(221, 221, 221)
  &:hover
    background-color: rgba(104, 159, 56, 0.149);


// .section_current_name
//     width 185px

  button
    // background-color: rgb(104, 159, 56)
    // box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24)
    // width: 111px
    height: 35px
    line-height: 33px;
    color: #fff;
    text-align: center;
    // margin-left: 25px;
    display: inline-block;
    border 0
    animate(300, ease-in-out)
    // &:hover
    //     background-color rgba(104, 159, 56, 0.75)
    // &:active
    //     animate(100, ease-in-out)
    //     background-color: rgb(92, 142, 49)

  .disabled
    background-color: rgb(183, 183, 183);
    cursor auto
    &:hover
        background-color: rgb(183, 183, 183);


a
  text-decoration none

.available_version_name
    button
        margin-left 25px
        width: 111px
        background-color: rgb(104, 159, 56)
        box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24)
        &:hover
          background-color rgba(104, 159, 56, 0.75)
        &:active
          animate(100, ease-in-out)
          background-color: rgb(92, 142, 49)


//layout-patter-2

.layout-patter-2
  padding-top 25px

  .list
    margin-bottom: 15px;
    height: 313px;
    width 100%
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-top 0px

  .list_item
    height 78px
    line-height: 78px;
    border-bottom 1px solid rgb(221, 221, 221)
    &:hover
      background-color: rgba(104, 159, 56, 0.149);
  .list_item
    label
      float: left;
      margin-right: 10px
    input
      float left
      margin-top 33px
      margin-right 18px
    img
        max-width 100%

    .miniatures__img
        width 70px
        height 50px
        float left
        margin-right 10px
        margin-top 15px



  .list_tele_mentor
    position relative
    >button
      border-style: solid;
      border-width: 1px;
      background-color: rgb(104, 159, 56);
      width: 197px;
      height: 37px;
      float right
      margin-right 33px
      margin-bottom 30px
      color #fff
      animate(300, ease-in-out)

      &:hover
        background-color: rgba(104,159,56,.75);
      &:active
        animate(100, ease-in-out)
        background-color: #5c8e31;

input[type="checkbox"]+span{
  -webkit-appearance:none;
  border:1px solid rgb(194, 194, 194);
  outline:none;
  margin-right:5px;
  margin-bottom: -3px;
  margin-left: -3px;
  box-sizing:border-box;
  display:inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  }
input[type="checkbox"]:checked+span:before{
  content:"";
  display:block;
  background-color: rgb(104, 159, 56);
  width: 10px;
  height: 10px;
  margin: 3px auto;
  pointer-events:none;
  }




//questions.html----------------------------------------------------------------------------------------
h2
  span
    font-size 36px
    font-weight: 600;
.poisk
  position relative
  input
    border-width: 1px;
    border-color: #d7d7d7
    border-style: solid;
    width: 100%;
    height: 34px
    margin-top 18px
    text-indent 10px
    position relative
    line-height: 35px;
    &:focus
        border-color: rgb(21, 101, 192)
  button
    position: absolute;
    right: 10px;
    top: 25px;
    width: 19px;
    height: 20px;
    background: url(../img/img_poisk.png);
    border: 0;
    padding 0
h3
  >span
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 600;
    display: block;
    margin-top: 45px;

//Акардеон

/* стили блока аккордеон */
.accordion
  width: 83%;
  ul
    list-style none
    padding 0

/* секции аккордеона */
.accordion .accordion_item
  // margin-bottom:1px;
  position:relative

/* заголовки панелей аккордеона */
.accordion
  .title_block
    font-weight: 600;
    font-size: 24px;
    color: #323232;
    cursor:pointer;
    animate(300, ease-in-out)

.accordion .title_block:hover
  color #1565c0


/* заголовок активного блока  */
.accordion
  .active_block
    .title_block
      color:#1565c0
/* блоки с содержанием */
.accordion
  .info
    display:none;
    padding:10px 15px;
    overflow: hidden;
  ul
    li
      font-size 24px
      font-weight 400
      padding 10px 0 10px 15px
      .otvet
        background:#f7f7f7
        font-size 18px
        padding 0px 19px 1px 15px
        .yes
          margin 0
          border 0
          color #4dc015
          font-size 18px
          background:#f7f7f7
        .no
          margin 0
          border 0
          color #d72d2d
          font-size 18px
          background:#f7f7f7
        p
          padding-top 13px
      i
        background: url(../img/list_style_img.png) no-repeat left center;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-left: -20px;
        margin-right: 10px;

/* параграф внутри блоков с содержанием */
.accordion
  .info_item
    margin-bottom:10px


//obrashenie.html---------------------------------------------------------------
.filter
  .h3_filter
    color #323232
    font-size 18px
    font-weight 400
    margin-top 50px
    display inline-block
    margin-right 5px
    margin-bottom 0
  .btn_filter
    background-color: rgb(237, 243, 243);
    width: 150px;
    height: 33px;
    color #323232
    border 0
    font-size 18px
    margin-right -5px
    position relative
    font-family: Roboto;
    font-weight: 300;
    i
      border-radius: 50%;
      position: absolute;
      width: 11px;
      height: 11px;

.btn_filter.active
  background-color: #1565c0;
  color: #fff;

.obrashenie_block
  margin-top 30px
  .header_list
    height: 51px;
    width: 100%;
    background-color: #edf3f3;
    line-height: 50px;
    color: #1565c0;
    font-size: 18px;
    .data
      position relative
      display: block;
      cursor: pointer;
      &:before
        content ''
        position absolute
        left: 50px;
        top: 4px;
        bottom: 0;
        margin: auto;
        background: url(../img/icon_Account.png);
        width: 12px;
        height: 7px;


    .add_obrashenie
      border 0
      background: transparent;
      color: #1565c0;
      font-weight: 600;
      float: right;
      line-height: 50px;
      padding-bottom: 0;
      padding-right: 20px;
      box-shadow 0 0 0 0
      width 300px
      height 50px
      &:hover
        text-decoration: underline;

// календарь-----------------------------------------------------------
.calendar
    width 310px
    height 300px
    position absolute
    visibility hidden
    opacity 0
    transform translateY(-10px)
    z-index 100
    margin-top 60px
    animate 300 ease-in-out
    &.active
        visibility visible
        opacity 1
        transform translateY(0px)

.pignose-calendar
    width 100%
    border 0
    max-width 310px
    height 320px

.pignose-calendar
    .pignose-calendar-top
        height 60px
        padding 0

.pignose-calendar
    .pignose-calendar-header
        margin-top 0
        height 40px
        color: #555;
        background: #fcfcfc;
        border-bottom: 1px solid #ebeced;
        font-size: 13px;
        font-weight 400

.pignose-calendar
    .icon-arrow-right
    &:before
        content: ' ';
        top: 18px;
        position: absolute;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-left-color: #fff;
        border-right: 10px;

.pignose-calendar
    .icon-arrow-left
    &:before
        content: ' ';
        top: 18px;
        position: absolute;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-right-color: #fff;
        border-left: 0;

.pignose-calendar
    .pignose-calendar-header
        .pignose-calendar-week.pignose-calendar-week-sat
            color: #555;

.pignose-calendar
    .pignose-calendar-header
        .pignose-calendar-week.pignose-calendar-week-sun
            color: #555;

.pignose-calendar
    .pignose-calendar-top
        .pignose-calendar-top-date
            color: #fff;
            font-size: 18px;
            background: #1565c0;
            padding: 5px 0;

.pignose-calendar
    .pignose-calendar-top
        .pignose-calendar-top-month
            margin 0
            font-size 18px
            font-weight 400
.pignose-calendar
    .pignose-calendar-top
        .pignose-calendar-top-year
            margin 0
            font-size 18px
            font-weight 400
            color #fff
            display inline-block


.pignose-calendar
    .pignose-calendar-top
        .pignose-calendar-top-month
            display inline-block

.pignose-calendar
    .pignose-calendar-body
        .pignose-calendar-row
            height 36px
            overflow visible

.pignose-calendar
    .pignose-calendar-unit
        line-height 0
        position relative
        height 34px
        a
            width: 30px;
            height: 30px;
            border-radius: 0;
            color: #2c567a;
            line-height: 1.9em;

.pignose-calendar
    .pignose-calendar-unit.pignose-calendar-unit-active
        a
            background-color #1565c0
            width 40px
            line-height 30px


.pignose-calendar
    .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first
        a
            border-top-left-radius: 0
            border-bottom-left-radius: 0
            position relative
            &:before
                content: '';
                width: 0;
                height: 0;
                display: block;
                border-style: solid;
                border-width: 15px 0 15px 7px;
                border-color: transparent transparent transparent #1565c0;
                position: absolute;
                z-index: 1;

.pignose-calendar
    .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last
        a
            border-top-right-radius: 0
            border-bottom-right-radius: 0
            position relative
            &:before
                content: '';
                width: 0;
                height: 0;
                display: block;
                border-style: solid;
                border-width: 15px 7px 16px 0;
                border-color: transparent #1565c0 transparent transparent;
                position: absolute;
                z-index: 1;
                left 33px
// .pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-first-active a:before{
//     content: '';
//     width: 0;
//     height: 0;
//     display: block;
//     border-style: solid;
//     border-width: 15px 0 15px 7px;
//     border-color: transparent transparent transparent #1565c0;
//     position: absolute;
//     z-index: 1;
//     right: -7px;
//
// }

// .pignose-calendar-unit-active.pignose-calendar-unit-second-active a:before{
//     content: '';
//     width: 0;
//     height: 0;
//     display: block;
//     border-style: solid;
//     border-width: 15px 7px 15px 0;
//     border-color: transparent #1565c0 transparent transparent;
//     position: absolute;
//     z-index: 1;
//     left: -7px;
// }

.pignose-calendar
    .pignose-calendar-unit.pignose-calendar-unit-range
        a
            background #b8d0ec

.pignose-calendar
    .pignose-calendar-body
        padding 0 16px

//Конец календаря--------------------------------
#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  border-collapse: collapse;
  height: 100%;
  padding 10px 15px
}

#calendar2 thead tr:last-child {
  font-size: small;
  color: #555;
  height: 40px;
  background: #fcfcfc;
  border-bottom: 1px solid #ebeced;
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: #fff;
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: rgb(44, 86, 122);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
  color: #1565c0;
}
#calendar2 tbody  td.selected
    background: rgba(21, 101, 192, 0.41)
    color: #fff;
#calendar2 tbody  tr.selected td
    background: rgba(21, 101, 192, 0.41)
    color: #fff;
#calendar2 tbody td.date-1
    background: #1565c0;
    color: #fff;
#calendar2 tbody td.date-2
    background: #1565c0;
    color: #fff;
.obrashenie
  position relative
  .new_obrashenie
    height 375px
    width 730px
    position absolute
    background #fff
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    box-shadow: 0 8px 26px 10px rgba(0,0,0,.16)
    top 60px
    animate 300 ease-in-out
    visibility hidden
    opacity 0
    z-index 10
    .new_obrashenie_header
      width 100%
      height: 54px;
      background-color: rgb(237, 243, 243);
      color #323232
      font-weight 200
      font-size 16px
  .telemebtor
    height: 54px;
    width: 289px;
    margin-left: -15px;
    border-right: 1px solid rgb(225, 225, 225);
    padding-left: 20px;
    padding-top: 2px;
  .heder_chat
    height: 54px;
    width: 450px;
    margin-left: -30px;
    padding-left: 20px;
    padding-top: 2px;
  .new_obrashenie_footer
    position absolute
    bottom 0
    background-color: rgb(237, 243, 243);
    width 100%
    height 54px
    form
      height 55px
      padding 15px 0
      position relative
      .new_obrashenie_text
        height: 20px;
        width: 100%;
        border: 0;
        font-size: 16px;
        padding: 0 50px;
        overflow: hidden;
        background: #edf3f3;
        display: block;
.skrepka
  background url(../img/skrepka.png)
  width 10px
  height 19px
  left: 20px;
  top: 16px;
  position absolute
  border 0
  padding 0
  z-index 1
.air
  background url(../img/air.png)
  width 30px
  height 21px
  right: 17px;
  bottom: 20px;
  position absolute
  border 0
  padding 0
  z-index 1
  &:hover
    background url(../img/air_hover.png)
.new_obrashenie.active
  visibility visible
  opacity 1
textarea
  resize:none

.new_obrashenie_content
  width: 729px;
  height: 265px;
  .new_obrashenie_content_left
    width 289px
    height: 265px;
    border-right: 1px solid #e1e1e1
    float left
    padding: 0 20px;
    color #333
    .new_obrashenie_item
      margin-top 10px
      .telemebtor_name
        display inline-block

  .new_obrashenie_content_right
    width 440px
    height: 265px;
    float right
    padding 20px 25px
    overflow-y auto
    p
      font-size 16px
      margin: 0;
      color: #333;
      line-height: 1.3;

.obrashenie_block
  .list
    height 510px

.accordion_item
  .obrashenie_footer
    form
      margin-top 25px
      position relative
      border-top: 1px solid rgb(225, 225, 225);
      .new_obrashenie_text
        height: 70px;
        width: 100%;
        border: 0;
        font-size: 16px;
        overflow: hidden;
        display: block;
        padding 26px 50px
      .skrepka
        top 26px
      .air
        bottom 24px




.reviews_inner-grid:not(:first-child) {
  border-left: 1px solid rgb(225, 225, 225);
  border-right: 1px solid #e1e1e1;
}
.reviews_inner-grid:not(:last-child) {
  height: 100%;
  width 17%
}
.reviews_inner-grid:last-child {
  min-height: 55px;
  display: block;
  width: 100%;
}
.reviews_item  {
  border-bottom: 1px solid rgb(225, 225, 225);
  display table
  width 100%
}

.reviews_inner-grid
  display table-cell
  font-size 18px
  padding 17px
  .title_block
    font-size 18px
    margin 0


.reviews_item
  .accordion
    overflow hidden
    width 100%
    .accordion_item
      display table
      width 100%
      border-bottom: 1px solid rgb(225, 225, 225);
      .title_block
        font-size 18px
        margin 0
        padding 0 15px
      .info
        padding 0
        .admin
          display block
          height 100%
          width 100%
          color #323232
          padding 5px 10px
          min-height 40px
          .admin_ava
              width: 57px;
              height: 57px;
              border-radius: 50%;
              overflow: hidden;
              display: inline-block;
              margin-left: 11px;
              position: relative;
              top: 7px;
              img
                max-width: 100%
          .admin_text
            width: 650px;
            float: right;
            background-color: #edf3f3;
            padding: 10px;
            position relative
            &:before
              content ''
              position absolute
              width: 0;
              height: 0;
              left: -10px;
              bottom: 0;
              border-bottom: 10px solid #edf3f3;
              border-left: 10px solid transparent;
          .admin_name
            color #1565c0
          p
            margin 0
        .user
          display block
          height 100%
          width 100%
          color #323232
          padding 11px
          min-height 40px
          margin-top 5px
        .user_ava
            width: 57px;
            height: 57px;
            border-radius: 50%;
            overflow: hidden;
            display: inline-block;
            margin-left: 11px;
            position: relative;
            top: 7px;
            img
                max-width: 100%;
          .user_text
            width 650px
            float: right;
            padding: 10px;
.reviews_inner-grid
  i
    border-radius: 50%;
    width: 11px;
    height: 11px;
